* {
  margin: 0;
  font-family: 'Playfair Display', serif;
}
body {
  color: #070035;
}
a{
  text-decoration: none;
}
.top {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navigation Bar */
nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
}
nav div {
  margin-left: 3%;
}

nav div a {
  font-size: 1.3vw;
  font-weight: bold;
  color: #070035;
}

nav div a:hover {
  border-bottom: 2px dotted #070035;
}

/* 
hr {
  margin-top: 1%;
  height: 1.5px;
  background-color: black;
} */
/* Introduction */
section {
  display: flex; 
  justify-content: flex-start;
width: 100%;
padding-top: 2%;
flex-direction: column;
}
#intro {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45vw;
  /* justify-content: space-around; */
  /* align-items: center; */
}
#intro p {
  font-size: 1.8vw;
  line-height: 2.3vw;
  text-align: left;
  margin-top: 6%;
}

#intro h1 {
  font-size: 7.3vw;
  display: inline-block;
  color:#070035;
  line-height: 0.9;
  font-weight: 900;
}

.down-arrow {
  height: 10vh;
  width: auto;
  /* background-color: white;
  border-radius: 50%; */
}
section a {
  align-self: center;
}

/* Projects */

article {
  background-image: url('../images/article_background.png');
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}

.work {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  /* padding-top: 100px; */
  align-items: center;
  margin-bottom: 15vh;
  color: white;
  font-family: 'Playfair Display', serif;
}

img {
  width: 500px;
  height: auto;
  border-radius: 20px;
  margin-right: 3vw;
}

.header {
  margin-bottom: 15px;
}

.title {
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1.3vw;
  font-weight: 600;
  color: white;
}
.date {
  font-weight: 400;
  color: #F8CFB8;
}


.role {
  color: #CA352C;
}

.description {
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.6em;
  margin-top: 20px;

} 


.caption {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  width: 25vw;
  
}
.caption a{
  padding: 12px;
  font-size: 1.3vw;
  margin-top: 10%;
  color: #050025;
  font-weight: 700;
  border-radius: 10px;
  background-color: #F8CFB8;
}

.caption a:hover {
  color: white;
  background-color: #CA352C;
}
footer {
  text-align: center;
  padding-top: 25px;
  background-color: #050025;
  width: 100vw;
  color: white;
  padding-bottom: 25px;
}