* {
  margin: 0;
}
body {
  color: #070035;
  font-family: 'Playfair Display', 'Georgia', serif;
}
a{
  text-decoration: none;
}
.top {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
}
/* Navigation Bar */
nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
}
nav div {
  margin-left: 3%;
}

nav div a {
  font-size: 1.3vw;
  font-weight: bold;
  color: #070035;
}

nav div a:hover {
  border-bottom: 2px dotted #070035;
}

/* 
hr {
  margin-top: 1%;
  height: 1.5px;
  background-color: black;
} */
/* Introduction */
section {
  display: flex; 
  justify-content: flex-start;
width: 100%;
padding-top: 2%;
flex-direction: column;
}
#intro {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45vw;
  /* justify-content: space-around; */
  /* align-items: center; */
}
#intro p {
  font-size: 1.8vw;
  line-height: 2.3vw;
  text-align: left;
  margin-top: 6%;
}

#intro h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 7.3vw;
  display: inline-block;
  color:#070035;
  line-height: 0.9;
}

.down-arrow {
  height: 10vh;
  width: auto;
}
section a {
  align-self: center;
}

/* Projects */

article {
  padding-right: 2%;
  padding-left: 2%;
  background-color: #070035;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work {
  display: flex;
  width: 65%;
  height: auto;
  flex-direction: row;
  /* background-color: white; */
  border-radius: 20px;
  align-items: center;
  padding: 4%;
  padding-top: 100px;
}

img {
  height: 350px;
  width: auto;
  border-radius: 20px;
}

.header {
  margin-bottom: 15px;
}

.title {
  font-size: 2.3em;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 1.2em;

}

.description {
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.6em;
  margin-top: 20px;
} 


.caption {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
  align-items: flex-start;
  color: white;
  
}
.caption a{
  padding: 12px;
  margin-top: 10%;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.caption a:hover {
  color: black;
  background-color: #FFC093;
}
footer {
  text-align: center;
  padding-top: 25px;
  background-color: black;
  color: white;
  padding-bottom: 25px;
}