html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 0px) {
  img {
    width: 80vw; 
    height: auto;
    margin-bottom: 5vw;
  }
  .title {
    font-size: 25px;
  }
  .subtitle, .description, .caption a {
    font-size: 18px;
  }
  #intro p {
    font-size: 25px;
  }
  nav div a {
    font-size: 20px;
  }
  #intro {
    width: 80vw;
  }
  .down-arrow {
    height: 8vh;
    width: auto;
    margin-top: 2vh;
  }
  .work {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .caption {
    width: 80vw;
  }
  article {
    background-color: #050025;
  }
}
@media screen and (max-width: 568px) {
  nav {
  padding-top: 10%;
  }
  #intro p {
    font-size: 22px;
  }
  #intro h1 {
    font-size: 48px;
  }
  section {
    justify-content: center;
  }
}
@media screen and (min-width: 568px) {
  nav {
    padding-top: 3%;
  }
  #intro h1 {
    font-size: 7.3vw;
  }
}
@media screen and (min-width: 624px) {
  img {
    width: 60vw; 
    height: auto;
  }
  .caption {
    width: 25vw;
  }
  article { 
    background: url('../images/article_background.png') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }
}
@media screen and (min-width: 1029px) {
  img { 
    width: 500px;
  height: auto;
  }
  .title {
    font-size: 2vw;
  }
  .subtitle, .description, .caption a {
    font-size: 1.3vw;
  } 
  #intro {
    width: 45vw;
  }
  #intro p {
    font-size: 1.8vw;
    line-height: 2.3vw;
  }
  nav div a {
    font-size: 1.3vw;
  }
  .down-arrow {
    height: 10vh;
    width: auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 1286px) {
  nav {
    margin-bottom: 5%;
  }
}
* {
  margin: 0;
  font-family: 'Playfair Display', serif;
}
body {
  color: #070035;
}
a{
  text-decoration: none;
}
.top {
  width: 100vw;
  height: 100vh;
  background: url('../images/background.png') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
/* Navigation Bar */
nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}
nav div {
  margin-left: 3%;
}

nav div a {
  font-weight: bold;
  color: #070035;
}

nav div a:hover {
  border-bottom: 2px dotted #070035;
}

/* Introduction */
section {
  display: flex; 
  justify-content: flex-start;
width: 100%;
padding-top: 6%;
flex-direction: column;
}
#intro {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-around; */
  /* align-items: center; */
}
#intro p {
  text-align: left;
  margin-top: 6%;
}

#intro h1 {
  display: inline-block;
  color:#070035;
  font-weight: 900;
  line-height: 0.9;
}

section a {
  align-self: center;
}

/* Projects */

article {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}

.work {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  /* padding-top: 100px; */
  align-items: flex-start;
  margin-bottom: 15vh;
  color: white;
  font-family: 'Playfair Display', serif;
}

img {
  border-radius: 20px;
  margin-right: 3vw;
}

.header {
  margin-bottom: 15px;
}

.title {
  font-weight: 600;
  margin-bottom: 5px;
}

.subtitle {
  font-weight: 600;
  color: #F8CFB8;
}
.date {
  font-weight: 400;
}


.description {
  font-weight: 400;
  line-height: 1.6em;
  margin-top: 20px;

} 

.caption {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.caption a{
  padding: 12px;
  margin-top: 10%;
  color: #050025;
  font-weight: 700;
  border-radius: 10px;
  background-color: #F8CFB8;
}

.caption a:hover {
  background-color: white;
  font-weight: 900;
}
#contact-home {
  font-size: 2.8vw;
  display: flex;
  justify-content: center;
  color: white;
  width: 80vw;
  margin-top: -15%;
  margin-bottom: 50px;
}
#contact-home a {
  color: #F8CFB8;
}
footer {
  text-align: center;
  padding-top: 25px;
  background-color:#050025;
  width: 100vw;
  color: white;
  padding-bottom: 25px;
}

/* About page */
@media screen and (min-width: 0) {
  #about img {
    width: 20vw;
    margin-left: 5%;
  }
  #about ul {
    font-size: 4vw;
  }
  #about p {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 641px) {
  #about img {
    width: 20vw;
    margin-left: 5%;
  }
  #about div {
    width: 60vw;
  }
  #about ul {
    font-size: 2.4vw;

  }
  #about p {
    font-size: 2.8vw;
  }
}
@media screen and (min-width: 1002px) {
  #about img {
    width: 25vw;
  }
  #about div {
    width: 40vw;
  }
  #about ul {
    font-size: 1.4vw;

  }
  #about p {
    font-size: 1.8vw;
  }
}
#about_page {
  background: url('../images/background.png') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #050025;
  width: 90vw;
  margin-left: 5vw;
  border-radius: 20px;
  margin-bottom: 100px;
}

#about hr {
  margin-bottom: 15px;
}
#about img {
  margin-top: 5%;
  border-radius: 50%;
  margin-right: 0;
}
#about div {
  color: white;
  padding: 5%;

}
#about ul {
  margin: 2% 0;
}
#about h1 {
  font-size: 4vw;
}
#about a {
  color: white;
  text-decoration: underline;
}

#about div div {
  margin-top: 6%;
  padding: 0;
}

.dot {
  height: 0.5vw;
  width: 0.5vw;
  margin-right: 10px;
  background-color: #F8CFB8;
  border-radius: 50%;
  display: inline-block;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
#contact hr {
  margin-bottom: 30px;
}
